.projetos{
    width: 85%;
    color: rgb(50 50 50);
    margin-left: 150px;
    padding: 20px;
    font-family: sans-serif;
    font-size: 150%;
    border-radius:  0 0 0 15px;
    padding-bottom: 150px;
}

.projetos p{
    margin-left: 250px;
}

.tabela-de-projetos li{
    width: 400px;
    height: 250px;
    line-height: 400px;
    display: inline-block;
    background: #FAFFFC;
    border: 8px solid black;
    margin-left: 25px;
    margin-top: 25px;
    cursor: pointer;
}

.tabela-de-projetos li:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

.tabela-de-projetos li:active{
    background: wheat;
    transition: 0.2s;
}

.tabela-de-projetos .primeiro{
    float: left;
    clear: left;
    margin-left: 250px;
}

.tabela-de-projetos .segundo{
    float: right;
    clear: right;
    margin-right: 250px;
}

.tabela-de-projetos .terceiro{
    float: left;
    clear: left;
    margin-left: 250px;
}

.tabela-de-projetos .quarto{
    float: right;
    clear: right;
    margin-right: 250px;
}

.imagemLi{
    margin-left: 40px;
    margin-top: 40px;
    position: absolute;
}

.link{
    font-size: 80%;
}

ul{
    padding-bottom: 100px;
}

.escurecer{
    position: fixed !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}